/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.section-title {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 100;
  border-bottom: 2px solid #d9d9d9;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav-items a {
  color: black;
  text-decoration: none;
}

.nav-items a:hover {
  color: #6c43e0;
}

.nav-items form {
  position: relative;
}

.nav-items form input {
  border: 2px solid #d9d9d9;
  padding: 5px 10px;
}

.nav-items form input:focus {
  outline: none;
  border: 2px solid #6c43e0;
}

.nav-items form img {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.cart-icon-group {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #6c43e0;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/* Navbar mobile */

.nav-mobile {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #d9d9d9;
  padding: 20px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-content .nav-items {
  gap: 15px;
}

.nav-menu {
  margin-top: 30px;
}

.nav-menu a {
  color: black;
  font-size: 1.4em;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #6c43e0;
}

.nav-menu form {
  margin-top: 10px;
  position: relative;
}

.nav-menu form input {
  border: 2px solid #d9d9d9;
  width: 100%;
  padding: 5px 10px;
}

.nav-menu form input:focus {
  outline: none;
  border: 2px solid #6c43e0;
}

.nav-menu form img {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

/* Products */

/* Products */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
}

.product:hover {
  box-shadow: 0px 0.9px 0.9px hsl(0deg 0% 66% / 0.32),
    0px 1.9px 2px -0.8px hsl(0deg 0% 66% / 0.29),
    0px 3.9px 4px -1.5px hsl(0deg 0% 66% / 0.27),
    0px 8.2px 8.5px -2.3px hsl(0deg 0% 66% / 0.24),
    0px 16.3px 16.9px -3.1px hsl(0deg 0% 66% / 0.22);
}

.product img {
  width: 150px;
  object-fit: contain;
  object-position: center;
  padding: 10px;
}

.product-info {
  border-left: 1px solid gray;
  width: 100%;
  padding: 15px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f7f7f7;
  flex: 1;
}

.product-info * {
  margin: 0;
}

.product-info .price {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.3em;
  text-align: right;
}

/* Footer */

footer {
  background: #151515;
  border-top: 3px solid #6c43e0;
  margin-top: 30px;
  min-height: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #151515;
  color: white;
  padding: 20px 0;
  font-size: 1.1em;
}

.footer-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 50%;
  margin-bottom: 20px;
}

.footer-location {
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.footer-shipping {
  display: block;
  text-align: center;
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Responsive breakpoints */

@media screen and (min-width: 600px) {
  /* Footer */

  .footer-logo {
    width: 20%;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  /* Products */
  .product {
    width: 22%;
  }

  .product img {
    width: 100%;
  }

  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product {
    flex-direction: column;
  }

  .product-info {
    border-top: 1px solid gray;
    flex: 1;
    border-left: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  /* Products */

  .product {
    width: 15.4%;
  }

  /* Footer */

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footer-left-section {
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-shipping {
    text-align: left;
  }

  .footer-right-section {
    align-items: flex-end;
    justify-content: space-between;
  }
}
