/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.section-title {
  margin-top: 100px;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 100;
  border-bottom: 2px solid #d9d9d9;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.nav-items a {
  color: black;
  text-decoration: none;
}

.nav-items a:hover {
  color: #6c43e0;
}

.nav-items form {
  position: relative;
}

.nav-items form input {
  border: 2px solid #d9d9d9;
  padding: 5px 10px;
}

.nav-items form input:focus {
  outline: none;
  border: 2px solid #6c43e0;
}

.nav-items form img {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

/* Navbar mobile */

.nav-mobile {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 2px solid #d9d9d9;
  padding: 20px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-content .nav-items {
  gap: 15px;
}

.nav-menu {
  margin-top: 30px;
}

.nav-menu a {
  color: black;
  font-size: 1.4em;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #6c43e0;
}

.nav-menu form {
  margin-top: 10px;
  position: relative;
}

.nav-menu form input {
  border: 2px solid #d9d9d9;
  width: 100%;
  padding: 5px 10px;
}

.nav-menu form input:focus {
  outline: none;
  border: 2px solid #6c43e0;
}

.nav-menu form img {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

/* Footer */

footer {
  background: #151515;
  border-top: 3px solid #6c43e0;
  margin-top: 30px;
  min-height: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #151515;
  color: white;
  padding: 20px 0;
  font-size: 1.1em;
}

.footer-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 50%;
  margin-bottom: 20px;
}

.footer-location {
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.footer-shipping {
  display: block;
  text-align: center;
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Responsive breakpoints */

@media screen and (min-width: 600px) {
  /* Footer */

  .footer-logo {
    width: 20%;
  }
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  /* Footer */

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footer-left-section {
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-shipping {
    text-align: left;
  }

  .footer-right-section {
    align-items: flex-end;
    justify-content: space-between;
  }
}
